{% extends '_base.html' %}

{% block main %}
    <form>
        <p>Search students</p>
        {{ filter.form.as_p }}
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    <br>
    <a href="{% url 'students:create_students' %}">Add new student</a><br>

    <p id="main-paragraph">Text 1</p>
    <p> <strong class="text-red">Text 2</strong></p>
    <table class="table table-striped">
        <tr>
            <th><strong>First Name</strong></th>
            <th class="text-red border-blue">Last Name</th>
            <th>INN</th>
            <th></th>
        </tr>

        {% for student in filter.qs|slice:":20" %}
            <tr>
                <td>{{ student.first_name|capfirst }}</td>
                <td>{{ student.last_name|title }}</td>
                <td>{{ student.inn }}</td>
                <td>
                    <a href="{% url 'students:update_students' id=student.id %}">✎</a>
                    <a href="{% url 'students:delete_students' id=student.id %}">🗑</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}